*{
    margin:0;
    padding: 0;
}
a{
    text-decoration: none;
}
.page-content{
    max-width: 1200px;
    font-size: 16px;
    padding:10px;
}
[v-cloak]{
    display: none;
}

header{
    height: 60px;
    background: #1e8dff; 
    display: flex;
    border-radius: 5px;
    padding:0 10px;
    justify-content: space-between;
    margin-bottom: 10px;
}
header a{
    color: #fff;
    font-size: 18px;
    width:20%;
    text-align: center;
    display: inline-block;
    line-height:60px;
}
header .h-right{width: 20%;max-width: 80px;text-align: center;}
header .h-right span{
    color: #fff;
    font-size: 18px;
    text-align: center;
    display: inline-block;
    line-height: 60px;
}
.el-form-item{
    margin-bottom: 0px;
}
#search-box {
    margin: 10px 0;
}

.next-page {
    margin: 10px 0;
}

.next-page a {
    display: block;
    background: #409EFF;
    padding: 15px;
    text-align: center;
    color: #fff;
    border-radius: 5px;
}
header .h-left{width: 80%;}
.fixd-right{
    position: fixed;
    right: 10px;
    top: 5vh;
    border-radius: 10px;
    height: 90vh;
    width: 350px;
    overflow: hidden;
    z-index: 1000;
}
.fixd-btn{
    position: fixed;
    right: 10px;
    top: 5px;
}
@media screen and (max-width: 768px) {
#search-box .el-form-item{width:100%;margin-bottom:5px;}
#search-box .el-form--inline .el-form-item__content{width: 100%;}
#search-box .el-form-item__content{width: 100%;}
#search-box button{width: 23%;margin: 5px 1%;float: left;}
#search-box .el-form-item__label{display: none;}
#search-box .el-select{width: 100%;}
    .el-dialog{
        width: 95%;
    }
    .fixd-btn,.fixd-right{position: relative;width: 100%;right: 0;}
}

.editinput-box .el-input{margin:1px 0;}
.desc-box-item{margin-top: 5px;}